<h2>Currency Codes</h2>
<div>
  <button class="btn btn-primary" routerLink="/currency-code/add">Add New Currency Code</button>
</div>
<div *ngIf="currencyCodes$ | async as currencyCodes; else loadingOrError">
  <div class="table-responsive-sm" *ngIf="currencyCodes.length > 0; else notFound">
    <table class="table table-sm">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Currency Code</th>
          <th scope="col">Country</th>
          <th scope="col">Rate Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currencyCode of currencyCodes">
          <td><a [routerLink]="['/currency-code', currencyCode.id, 'detail']">{{ currencyCode.currencyCode }}</a></td>
          <td>{{ currencyCode.country }}</td>
          <td>{{ currencyCode.rateQty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #notFound>
    <div class="alert alert-warning">No records found.</div>
  </ng-template>
</div>

<ng-template #loadingOrError>
  <ng-container *ngIf="error; else loading">
    <div class="alert alert-danger">{{ error }}</div>
  </ng-container>
  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>
</ng-template>
