<div class="m-2" *ngIf="notes$ | async as notes; else loadingOrError">
  <p>Notes</p>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Content</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let note of notes">
        <td>{{ note.id }}</td>
        <td>{{ note.content }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loadingOrError>
  <ng-container *ngIf="error; else loading">
      <div class="alert alert-danger">ERROR: {{ error }}</div>
  </ng-container>
  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>
</ng-template>
